echo "# robsonmorais" >> README.md 
git init 
git add README.md 
git commit -m "first commit" 
git branch -M main 
git remote add origin https://github.com/Robsonms16/robsonmorais.git
 git push - sua origem principal
